@import url(http://fonts.googleapis.com/css?family=Sansita+One);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);

body {
  background-color: #66CC33;
  width: 600px;
  margin: auto;
  font-family: sans-serif;
  color: #262626;
}

a {
  color: #666666;
  text-decoration: none;
}

header {
  margin: 1em 0 0 0;
  padding: 2em 1em 0.5em 1em;
  background-color: #E6E6E6;

  border-radius: 1em 1em 0 0;
  border: 3px solid #666;
  border-bottom: none;
}

header > h1 {
  padding:0;
  font-family: 'Sansita One', cursive;
  font-size: 48px;
  text-shadow: 1px 1px #ccc, -1px -1px #333;
}

header > h1 > a {
  color: #393939;
}

header > h1 + p {
  margin:0;
  padding: 0 0 0 0.5em;
  font-size:12px;
}

article h2 {
  font-size: 1em
}

h1,h2,h3,h4,h5,h6 {
  margin:0;
  padding:0;
  font-family: 'Gentium Basic', sans-serif;
}

h1 {
  padding: 0.125em;
}

#content {
  margin:0;
  padding: 0.5em 0 3em 0;
  background-color: #E6E6E6;

  border-radius: 0 0 1em 1em; 
  
  border: 3px solid #666;
  border-top: none;
}

#content > article, #content > div, #content > form {
  padding: 1em 1em 0 1em;
}

#time_entries {
  padding: 0;
  background-color: #E6E6E6;

  border-radius: 0 0 1em 1em;
}

#time_entries > .time_entry {
  padding: 1em 1em 0 1em;
}

#time_entries > .time_entry:first-child {
  padding-top: 0;
}

.time_entry {
  padding: 0 1em;
}

.notice, .alert, .error {
  margin: 1em 0 0 0;
  padding: 1em 1em 0.75em 1em;

  padding-left: 2.5em;
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: 1em 50%;

  color: #E6E6E6;

  border-radius: 1em;
}

.notice {
  background-image: url('/images/notice_16.png');
}

.alert, .error {
  background-image: url('/images/alert_16.png');
}
