body {
  background-color: #161616;
  width: 600px;
  margin: auto;
}

header {
  margin:0;
  padding: 3em 2em 1em 2em;
  background-color: #E6E6E6;

  border-radius: 1em 1em 0 0;
}

h1 {
  margin: 0;
  padding: 0.125em;
}

#time_entries {
  background-color: #E6E6E6;
}

#time_entries > article {
  padding: 1em;
}

#time_entries > article:first-child {
  background-color: #000000;
  color: #EFEFEF;
}

