<nav id="page_navigation">
  <div class="control">
    <%= link_to "", "#", class: "cancel" %>
    <%= render partial: "time_entries/form" %>
    <%= link_to "", "#", class: "add" %>
  </div>
  <%= content_tag :h1 do
    yield(:title)
  end  if content_for(:title) %>
</nav>
