<% title( link_to "Time Entries", time_entries_path) %>

<div id="time_entries">
<% @time_entries.each do |time_entry| %>
  <article class="time_entry">
    <div class="control">
      <%= link_to "", "#", class: "archive" %>
    </div>
    <%= render 'timer', :item => time_entry %>
    <div class="content">
      <h1><%= link_to time_entry.name, time_entry %></h1>
      <h2><%= time_entry.to_relative_time %></h2>
    </div>
  </article>
<% end %>
</div>
