<% @time_entries.each do |time_entry| %>
  <article>
    <h1><%= link_to time_entry.name, time_entry %></h1>
    <h2><%= time_entry.to_relative_time %></h2>
    <p><%= time_entry.description %></p>
    <%= render 'timer', :item => time_entry %>
  </article>
<% end %>

